.Title {
  display: block;
}
.Title .p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #F94D1C;
  margin-bottom: -30px;
}
.Title .H2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}