.about-company {

    padding-top: 50px;
    
    @media (min-width: 576px) {
            
        padding-top: 75px;
    }

    @media (min-width: 768px) {
            
        padding-top: 150px;
    }

    

    .container {  

        position: relative;
        display: flex;

        .left {

            display: none;

            @media (min-width: 1200px) {
                display: block;
                
            }
            .woman {

                margin-left: 60px;
            }

            .white-line {

                position: absolute;
                top: 30px;
                left: 40px;
            }

            .box-on-picture {

                background-color: #BEEBFF;
                position: absolute;
                bottom: 40px;
                width: 370px;

                .name {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 900;
                    font-size: 20px;
                    margin-top: 40px;
                    margin-left: 25px;

                    span {
                        color: #F94D1C;
                        font-size: 16px;
                    }
                }

                .under-name {
                    margin-left: 25px;
                    margin-bottom: 45px;
                    margin-right: 60px;
                    padding-top: 20px;
                }
            }
        }

        .right {

            text-align: center;

            @media (min-width: 1200px) {

                text-align: left;
                margin-left: 110px;
                
            }

            @media (min-width: 1400px) {

                margin-left: 190px;
            }

            .text {

                .p-1 {

                    color: #F94D1C;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                }

                h2 {

                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 40px;
                }

                .p-2 {
                    color: #707070;
                    margin-top: 30px;
                }

                .p-3 {

                    color: #707070;
                }
            }

            .buttons {

                margin-top: 40px;
                justify-content: center;
                align-items: center;

                @media (min-width: 576px) {

                    margin-top: 80px;
                }

                @media (min-width: 1200px) {
                    justify-content: left;
                    
                }

                @media (min-width: 400px) {

                    display: flex;
                }

                .btn-black {

                    // margin-right: 35px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    @media (min-width:400px) {
                        
                        margin-right: 35px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .intro-button {

                    display: flex;
                    align-items: center;
                    color: #191919;
                    text-decoration: none;
                    padding: 5px 10px;
                    margin-bottom: 15px;
                    border-radius: 25px;
                    transition: box-shadow 0.2s ease-in-out;

                    i {
                        padding-right: 20px;
                        font-size: 50px;
                }

                    &:hover {

                        border: 1px solid black;
                        border-radius: 25px;
                        transition: box-shadow 0.2s ease-in-out, border 0.3 ease-in-out;
                        box-shadow: 3px 3px 10px 1px black;

                    }

                }
            }
        }
    }
}