.article-and-news .container .first-part {
  padding-top: 125px;
  text-align: center;
}
@media (min-width: 992px) {
  .article-and-news .container .first-part {
    text-align: left;
  }
}
.article-and-news .container .first-part p {
  color: #F94D1C;
}
@media (min-width: 992px) {
  .article-and-news .container .first-part .h4-a {
    display: flex;
    justify-content: space-between;
  }
}
.article-and-news .container .first-part .h4-a h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .article-and-news .container .first-part .h4-a h4 {
    font-size: 45px;
  }
}
@media (min-width: 992px) {
  .article-and-news .container .first-part .h4-a h4 {
    margin-bottom: 0px;
  }
}
.article-and-news .container .parent {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
}
@media (min-width: 768px) {
  .article-and-news .container .parent {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.article-and-news .container .parent .child {
  text-decoration: none;
}
.article-and-news .container .parent .child:hover h3 {
  text-decoration: underline;
}
.article-and-news .container .parent .child img {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
}
.article-and-news .container .parent .child p {
  color: #707070;
}
.article-and-news .container .parent .child h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.article-and-news .container .center-content {
  padding-top: 55px;
  padding-bottom: 90px;
}