.ArticleNews {
    margin-top: 170px;
    margin-bottom: 80px;
    padding-top: 50px;
    border-top: solid 1px #6A6C71;

    .TitleSection{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .BrowseArticles{
            text-decoration: none;
        }
    }

    .carousel {
        
        position: relative;
    }

    .custom-dot-list-style {

        bottom: -10px;
    }
}

.carousel .react-router-link {
    text-decoration: none !important;
  }
  