@charset "UTF-8";
.ArticleNews {
  margin-top: 70px;
  margin-bottom: 80px;
}
.ArticleNews .TitleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ArticleNews .TitleSection .BrowseArticles {
  text-decoration: none;
}
.ArticleNews .carousel {
  position: relative;
}
.ArticleNews .custom-dot-list-style {
  bottom: -10px;
}
