.ArticleNews {
    margin-top: 70px;
    margin-bottom: 80px;

    .TitleSection{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .BrowseArticles{
            text-decoration: none;
        }
    }

    .carousel {
        
        position: relative;
    }

    .carousel-item {

    }

    .custom-dot-list-style {

        bottom: -10px;
    }
}
/* Lägg till detta i din CSS-fil */
.carousel .react-router-link {
    text-decoration: none !important;
  }
  