.news-and-articles {
  background-color: #F0EFE9;
  padding: 100px;
  position: relative;
  z-index: 0;
}
.news-and-articles .container {
  text-align: center;
}
.news-and-articles .container a {
  margin-right: 20px;
  text-decoration: none;
  color: #191919;
  font-weight: 300;
}
.news-and-articles .container a:hover {
  font-weight: 400;
}
.news-and-articles .container p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  z-index: 1;
}
@media (min-width: 576px) {
  .news-and-articles .container p {
    font-size: 56px;
  }
}
.news-and-articles .line {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 40%;
  height: auto;
}